:root {
    --primary-background: #FFFFFF;
    --accent-colour: #4D5AE5;;
    --accent-btn: #404BBF;
    --primary-text-colour:#434455;
    --white-text: #ffffff;
    --title-colour: #2E2F42;
    --footer-text: #E7E9FC;
    --footer-logo: #F4F4FD;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, 
li {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img { 
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-colour);
    background: var(--primary-background);
}

.container {
    max-width: 1158px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}



/**------------Header ------------------*/
.header { 
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-contacts-list {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
}


.header-logo {
    font-family: 'Raleway', sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     display: flex;
     align-items: center;
     letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-colour)
}
.first-logo {
    color: var(--title-colour);
    margin-right: 76px;
}

.header-list-item:not(:last-child) {
    margin-right: 40px;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-colour)
}

.header-link:hover,
.header-link:focus {
color: var(--accent-btn)
}

.header-contacts-list {
    font-style: normal;
}

.header-link-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-colour);
}

.header-link-contact:hover,
.header-link-contact:focus {
    color: var(--accent-btn);
}



/**------------About ------------------*/


.page-about-container { 
    padding-top: 188px;
    padding-bottom: 188px;
    padding-left: 472px;
    padding-right: 472px;

}

.about-title {
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-text);
    margin-bottom: 48px; 

}

.about {
    background: var(--title-colour);
}

.btn-primary { 
    font-family: "Roboto", sans-serif;
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-right: 0;
    text-align: center;
}

.btn-primary {
    color: var(--white-text);
    background: var(--accent-colour);
}

.btn-primary:hover,
.btn-primary:focus { 
background:var(--accent-btn)
}

/**-----------Advantages-------------*/

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-list{
    display: flex;
    justify-content: space-between;
}
.section-list-item:not(:last-child) {
    margin-right: 24px;
}

.section-subtitle { 
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-colour);
}

.section-text { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-colour);
}

/**-----------What are we doing, Our team -------------*/

.section-work-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-colour);
}

.section-team {
    background: var(--footer-logo);
}

.section-list .team-item { 
background: var(--primary-background);
}

.card-section { 
    flex-basis: calc((100% - 48px / 3));
}

.card-section-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
}

/**------------Footer-----------------*/

.section-footer { 
    background: var(--title-colour);
}

.footer-logo { 
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--footer-logo);

}

.footer-first-logo {
color: var(--footer-logo);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--footer-text);
}


/**------------Portfolio------------------*/

.btn-secondary {
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--accent-colour);
}


.btn-secondary {
    background: var(--footer-logo);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background: var(--accent-btn);
    color: var(--white-text);
}
/**------------Gallery------------------*/

.gallery-list-item .section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--title-colour)
}

.gallery-list-item .secondary-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: var(--footer-logo);
        background: var(--accent-colour);
}